* {
    padding: 0 5px 0 5px;
    margin: 0;

    box-sizing: border-box ;
    background-color: #E9F5DB;
}

@font-face {
    font-family: Butler-Bold;
    src: url(./fonts/Butler_Bold.otf);
}

@font-face {
    font-family: Butler-Regular;
    src: url(./fonts/Butler_Regular.otf);
}

.header_container {
    width: auto;
    height: auto;
    padding: 0;

    border-bottom: 1px solid #97A97C;
}

.header {
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* header content */

.header_text {
    font-family: Butler-Bold;

    font-size: 26px;
    color: #151811;
    text-decoration: none;
}

.search_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
    width: 60vh;
}

.search_button {
    height: 100%;
    width: 20vh;
    color: #151811;
    font-family: Butler-Bold;
    font-size: 26px;
    border-radius: 5px;

    border: none;
    outline: none;
}

.search_button:hover {
    transition: 0.2s ease-in-out;
    background-color: #718355;
    color: #E9F5DB;
    cursor: pointer;
}

.casesColumnContainer {
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
}

.casesColumn {
    width: auto;
    margin-bottom: 50px;
}

.cases {
    font-family: Butler-Bold;
    height: auto;

    font-size: 26px;
    color: #151811;
    border-left: 1px solid #5B5B61;
    width: 100vh;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.otherinfoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5vh 0 0 0;
    height: 50px;
}

.caseLink {
    font-family: Butler-Bold;
    font-size: 26px;
    background-color: #718355;
    color: #151811;
    text-decoration: none;
}

.footer {
    bottom: 0;
    position: fixed;
}

.footerText {
    font-family: Butler-Bold;
    font-size: 15px;
    color: #151811;
}

.footerLink {
    font-family: Butler-Bold;
    font-size: 15px;
    background-color: #718355;
    color: #151811;
    text-decoration: none;
}

h1 {
    margin: 0 0 10vh 0;
    justify-content: center;
    font-family: Butler-Bold;
}

h2 {
    margin: 0 0 10vh 0;
    justify-content: center;
    font-family: Butler-Bold;
}

h3 {
    justify-content: center;
    font-family: Butler-Bold;
    font-size: 26px;
}

@media screen and (max-width: 850px) {
    
    .header {
        padding: 0 5vh 0 5vh;
        width: 100%;
        height: 70px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .casesColumn {
        padding: 0;
    }

    .header_text {
        font-family: Butler-Bold;

        color: #151811;
        text-decoration: none;
    
        font-size: 24px;
        width: 50vh;
    }

    .search_container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 35px;
        width: 60vh;
    }
    
    .search_button {
        height: 100%;
        width: 20vh;
        color: #151811;
        font-family: Butler-Bold;

        font-size: 24px;
        border-radius: 5px;
        border: none;
        outline: none;
    }
    
    .search_button:hover {
        transition: 0.2s ease-in-out;
        background-color: #718355;
        color: #E9F5DB;
        cursor: pointer;
    }

    .cases {
        font-family: Butler-Bold;
        height: auto;
    
        font-size: 15px;
        color: #151811;
        text-decoration: none;
        width: auto;
        padding: 20px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .otherinfoContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5vh 0 0 0;
        height: 50px;
    }

    .caseLink {
        font-family: Butler-Bold;
        font-size: 20px;
        background-color: #718355;
        color: #151811;
        text-decoration: none;
    }
    
    a {
        font-family: sans-serif;
        font-weight: bold;
        font-style: normal;
    
        font-size: 15px;
        color: rgb(12, 53, 70);
        text-decoration: none;
    }
    
    h1 {
        margin: 0 0 10vh 0;
        justify-content: center;
    }
    
    h2 {
        margin: 0 0 10vh 0;
        justify-content: center;
    }

    h3 {
        justify-content: center;
        font-family: Butler-Bold;
        font-size: 24px;
    }
}

@media screen and (max-width: 530px) {

    .header_text {
        font-family: Butler-Bold;
        color: #151811;
        width: 50vh;
        font-size: 15px;
    }
    
    .search_button {
        color: #151811;
        font-family: Butler-Bold;
        width: 12vh;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        outline: none;
    }

    .cases {
        font-family: Butler-Bold;
        box-sizing: border-box;
        height: auto;
    
        font-size: 15px;
        color: #151811;
        text-decoration: none;
        width: auto;
        padding: 20px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .otherinfoContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 5vh 0 0 0;
        height: 50px;
    }
    
    a {
        font-family: sans-serif;
        font-weight: bold;
        font-style: normal;
    
        font-size: 15px;
        color: rgb(12, 53, 70);
        text-decoration: none;
    }
    
    h1 {
        margin: 0 0 10vh 0;
        justify-content: center;
    }
    
    h2 {
        margin: 0 0 10vh 0;
        justify-content: center;
    }

    h3 {
        font-size: 13px;
        text-decoration: none;
    }

    .footerText {
        font-size: 12px;
    }
    
    .footerLink {
        font-size: 12px;
    }
}